.icon-container {
  width: 1.6rem; /* Adjust to your preferred size */
  height: 1.6rem; /* Adjust to your preferred size */
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image maintains aspect ratio */
}
