<!-- <header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-1 md:rounded-lg lg:max-w-full"
>
  <div class="px-4">
    <div class="flex items-center justify-between">
      <div class="flex shrink-0">
        <a aria-current="page" class="flex items-center" href="/">
          <img
            class="h-7 w-auto"
            src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
            alt=""
          />
          <p class="sr-only">Website Title</p>
        </a>
      </div>
      <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
        <a
          aria-current="page"
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#"
          >How it works</a
        >
        <a
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#"
          >Pricing</a
        >
      </div>
      <div class="flex items-center justify-end gap-3">
        <button
          type="button"
          class="hidden items-center justify-center rounded-xl bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 transition-all duration-150 hover:bg-gray-50 sm:inline-flex"
          (click)="logout()"
        >
          Sign Out
        </button>
      </div>
    </div>
  </div>
</header> -->

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 m-4"
>
  <div
    *ngFor="let user of users"
    class="group bg-white shadow-md rounded-xl p-6 transition-all duration-500 w-full hover:border-indigo-600"
  >
    <div class="flex items-center gap-5 mb-6">
      <div class="icon-container">
        <img [src]="user.avatar" [alt]="user.name + ' avatar'" />
      </div>
      <div class="grid gap-1">
        <h5 class="text-gray-900 font-medium transition-all duration-500">
          {{ user.name }}
        </h5>
        <span class="text-sm leading-6 text-gray-500">{{ user.position }}</span>
      </div>
    </div>
  </div>
</div>
